
#section__1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    top: 5rem;
    position: relative;
    z-index: 1;
    @include breakpoint(large){
        flex-direction: inherit;
        
        }  
    h1{
        font-weight: 800;
        font-size: 1.2rem;
        color:black;
        margin-top: 2rem;
    }
    h2{
        margin-top: 0.5rem;
        font-size: 0.80rem;
        color: black;
        text-align: center;
        display: inline-block;
        width: 320px;
        font-weight: 400;
    }
    a{
        height: 32.06px;
        width: 106.31px;
        background: #56cdcd;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        font-size: 15.19px;
        font-weight: 700;
        color: white;
        margin-top: 0.5rem;
    }
    .mobileBigLogo{
        height: 9.52rem;
        @include breakpoint(large){
            display: none;
            
            }  
    }
    .DeskBigLogo{
        height: 14.28rem;
        width: 20.47rem;
        @include breakpoint(large){
            height: 20.52rem;
            
            }  
    }
    .sec1_text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.divider_webdesign{
    background: #F0F0F0;
    width: 100%;
    height: 64px;
    margin-top: 6rem;
    align-items: center;
    justify-content: center;
    display: flex;
    h1{
        font-size: 15px;
        font-weight: 800;
    }
}
#section__2{
    display: flex;
    position: relative;
    padding: 2rem;
    margin-top: 0.5rem;
    flex-direction: column;
.sec2_motivos{
    margin-bottom: 0.5rem;
    h1{
        text-align: center;
        font-size: 16px;
    }
}
    
    .sec2_icons{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        align-items: center;
        grid-gap: 20px;
        h3{
            font-size: 13px;
            font-weight: 400;
            position: relative;
            bottom: 0;
        }
        h2{
            font-size: 12px;
            font-weight: 700;
            margin-top: 0.5rem;
        }
        .img_Text{
            text-align: center;
            height: 180px;
            .box_img{
                height: 80px;
                width: auto;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
       
    }
}